@page "/"
@page "/users"

<h3>Users</h3>

<PageViewer PageModel="@Model">
    @if (Model.UserList.Any())
    {
        <br />
        <br />
        <table class="table table-hover">
            <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>User Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.UserList)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.UserType</td>
                        <td>
                            <a href="/users/@user.Id">
                                edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>User list is empty.</p>
    }


    <a href='/users/Add'>
        <span class="oi oi-plus" aria-hidden="true" style="vertical-align: text-bottom"></span> <span>add</span>
    </a>
</PageViewer>



@inherits BasePageComponent<UserListPageModel>
@code {

    protected override async Task OnInitializedAsync()
    {
        var getUserListResult = await ApiCall.Users.GetUserListAsync();
        if (!getUserListResult.IsSuccess)
        {
            ShowError(getUserListResult.ErrorMessage);
            return;
        }
        Model.UserList = getUserListResult.Data;

        Model.IsReady = true;
    }
}
