@page "/users"

<h3>Users</h3>

@foreach (var user in Model.UserList)
{
    <p>@user.Name</p>
}



@using HistoryTracking.UI.Web.ApiRequests
@using HistoryTracking.BL.Services.User
@using HistoryTracking.UI.Web.PageModels
@inject UserApiClient UserApi
@code {

    private UserListPageModel Model = new UserListPageModel();

    protected override async Task OnInitializedAsync()
    {
        var getUserListResult = await UserApi.GetUserListAsync();
        if (!getUserListResult.IsSuccess)
        {
            ShowError(getUserListResult.ErrorMessage);
            return;
        }
        Model.UserList = getUserListResult.Data;
    }


    void ShowError(string errorMessage)
    {
        Model.ErrorMessage = errorMessage;
    }
}
