@if (PageModel != null && PageModel.IsActionSuccess)
{
    <br />
    <div class="row">
        <h4 class="col-md-12 text-center" id="success" style="border: solid #5cb85c 2px; background-color: #edf7ed; color: #5cb85c; padding: 10px;">
            Success
        </h4>
    </div>
    <br />
}

@if (!PageModel.ErrorMessage.IsNullOrEmpty())
{
    <br />
    <div class="row">
        <h4 class="col-md-12 text-center" id="error" style="border: solid #cd0a0a 2px; background-color: #f8e8e6; color: #cd0a0a; padding: 10px;">
            @PageModel.ErrorMessage
        </h4>
    </div>
    <br />
}

@inject IJSRuntime script
@code {
    [Parameter]
    public BasePageModel PageModel { get; set; }

    protected override void OnInitialized()
    {
        PageModel.LogMessage = PageModel.ErrorMessage;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!PageModel.ErrorMessage.IsNullOrEmpty())
        {
            await script.InvokeAsync<string>("console.log", "Log error: ", PageModel.ErrorMessage);
        }
        if (!PageModel.LogMessage.IsNullOrEmpty())
        {
            await script.InvokeAsync<string>("console.log", "Log: ", PageModel.ErrorMessage);
        }
    }
}